.birthdayList {
  width: 100vw;
  padding: 2rem;
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.groupName {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  color: #333;
}

.userCount {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.list {
  margin-top: 2rem;
}
